.menu{
margin-left : 20;
margin-right : 80%;
list-style-type : none;
padding :50;
background-color : #ffff80;
}
#list{
text-decoration : none;
font-family : montserrat;
font-size : 25;
font-weight: semi-bold;
margin-left: 30;
margin-right: 30;
color:yellow;
}
#list:hover{
color : white;
}
nav{
margin-left : 20;
}
.footer{
background-color : #3a00ab;
text-align : center;
height : 200;
color : yellow;
font-size: 20;
}
#hide{
display : none;
margin-top:40px;
margin-right:-5; 
width:10%;
}
@media only screen and (max-width:1000px){
#list{
margin-left: 25 !important;
padding : -20 !important;
}
.footer{
margin-bottom:0;
}
#insta{
width: 15% !important;
}
#fb{
width: 15% !important;
}
#twitter{
width: 16% !important;
}
#link{
width: 14.5% !important;
}
}